# Debe crear un archivo .env con esta estructura, cambiando los valores.
# Estos valores son solo para desarrollo local.

POSTGRES_DB=butacacero_db
POSTGRES_USER=butacacero
POSTGRES_PASSWORD=change-me-local-password

DJANGO_PORT=8000
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=change-me-local-django-secret-key
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
