{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{{ cinema.nombre }}</title>
<link rel="stylesheet" href="{% static 'frontend/listings_style.css' %}">
</head>
<body>
<div class="navbar">
    <div class="navbar_link">
        <li class="navbar_link_text">{{ cinema.nombre }}</li>
    </div>
    <div class="navbar_link">
        <li class="navbar_link_text">Películas</li>
    </div>
    <div class="navbar_link">
        <li class="navbar_link_text">Cines</li>
    </div>
    <div class="navbar_link">
        <li class="navbar_link_text">Promos</li>
    </div>

</div>

<div class="movie_catalogue">
    {% for funcion in funciones %}
    <a href="{% url 'screening_page' pk=funcion.pk %}" class="movie_item">
        <img class="movie_item_image" src="{{funcion.pelicula.imagen.url}}" >
        <div class="movie_item_title">{{ funcion.pelicula.titulo }}</div>
        <div class="movie_item_agerating">
            <div class="agerating_text">{{ funcion.pelicula.clasificacion }}</div>
        </div>
    </a>
    {% endfor %}
</div>

</body>
</html>