
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{{ cinema.nombre }}</title>
<link rel="stylesheet" href="{% static 'frontend/listings_style.css' %}">
</head>
<body>
<div class="navbar">
    <div class="navbar_link">
        <li class="navbar_link_text">{{ cinema.nombre }}</li>
    </div>
    <div class="navbar_link">
        <li class="navbar_link_text">Películas</li>
    </div>
    <div class="navbar_link">
        <li class="navbar_link_text">Cines</li>
    </div>
    <div class="navbar_link">
        <li class="navbar_link_text">Promos</li>
    </div>

</div>

<div class="screening_page">
    <img src="{{ funcion.pelicula.imagen.url }}">
    <h1>{{ funcion.pelicula.titulo }}</h1>
    <h2>{{ funcion.pelicula.sinopsis}}</h2>
    <p>Genero: {{ funcion.pelicula.genero}}</p>
    <p>Clasificación: {{ funcion.pelicula.clasificacion }}</p>
    <p>Horario: {{ funcion.fecha_horario }}</p>
    <form method="post" action="{% url 'buy_tickets' %}">
        <label>
            <span>Cantidad de entradas</span>
        </label>

        <button type="submit">Comprar entradas</button>
    </form>
    
</div>